<h1>Editing digital_content_creator_relationship</h1>

<%= render 'form' %>

<%= link_to 'Show', @digital_content_creator_relationship %> |
<%= link_to 'Back', digital_content_creator_relationships_path %>
