<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @research_appointment_purpose.name %>
</p>


<%= link_to 'Edit', edit_research_appointment_purpose_path(@research_appointment_purpose) %> |
<%= link_to 'Back', research_appointment_purposes_path %>
